<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <p>Red</p>
    <input type="range" min="0" max="255" value="18" class="form-control" [(ngModel)] = "red"> {{red}}
    <p>Green</p>
    <input type="range" min="0" max="255" value="18" class="form-control" [(ngModel)] = "green"> {{green}}
    <p>Blu</p>
    <input type="range" min="0" max="255" value="18" class="form-control" [(ngModel)] = "blu" > {{blu}}
    <br>
    <button type="submit" class="btn btn-primary"  (click)="change()">Change - Color</button>

    <p style="width: 100%; height: 300px" [style.background-color]="color" >{{color}}</p>
  </div>
</div>
