<body style="background-image: url('https://i.pinimg.com/originals/4c/32/b8/4c32b8c9d316da2348be65685f578264.jpg')">
<h3 style="text-align: center">ADD NEW SERVICE</h3>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="sd">Name</label>
        <input type="text" class="form-control" id="sd">
      </div>
      <div class="form-group">
        <label for="ed">Area</label>
        <input type="number" class="form-control" id="ed">
      </div>

      <div class="form-group">
        <label for="deposit">Number of floor</label>
        <input type="number" class="form-control" id="deposit">
      </div>
      <div class="form-group">
        <label for="total">Max people</label>
        <input type="number" class="form-control" id="total">
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" id="cost">
      </div>
      <div class="form-group">
        <label for="tr">Type Rent</label>
        <select class="form-control" id="tr">
          <option>Chosse</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
      <a type="button" class="btn btn-success">Close</a>

    </div>
  </div>
</div>

</body>

