
<body style="background-image: url('https://i.pinimg.com/originals/4c/32/b8/4c32b8c9d316da2348be65685f578264.jpg')">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
      </svg></a>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-8">
      <h1>List Customer
        <button type="button" class="btn btn-primary btn-lg" id="btnModelCreate">Add New</button>
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <form class="form-inline">
      <input type="text" class="form-control" placeholder="name" name="name"> &ensp;
      <input type="date" class="form-control" placeholder="date of birth" name="date of birth" > &ensp;
      <input type="text" class="form-control" placeholder="email" name="email" > &ensp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
    </form>
  </div>
</div>

<div class="container-fluid" >
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><h5>name</h5></th>
        <th><h5>DOB</h5></th>
        <th><h5>email</h5></th>
        <th><h5>type customer</h5></th>
        <th colspan="2" style="text-align: center"><h5>Action</h5></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</body>
