<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
      <span style="color: red"
            *ngIf="productForm.controls.id.hasError('required')
         && productForm.controls.id.touched">
                id is empty</span>
      <span style="color: red"
            *ngIf="productForm.controls.id.hasError('checkidcreate')
         && productForm.controls.id.touched">
                duplicate id</span>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button [disabled]="!productForm.valid" >Tạo mới</button></td>
    </tr>
  </table>
</form>
